[submodule "third_party/snap"]
	path = third_party/snap
	url = https://github.com/open-power/snap
	branch = master
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
