[submodule "third_party/snap"]
	path = third_party/snap
	url = https://github.com/open-power/snap
	branch = master
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/pslse"]
	path = third_party/pslse
	url = https://github.com/ibm-capi/pslse
